body {
  margin: 0;
  padding: 0%;
  background-color: white;
  min-width: 368px;
}

/******** Navigation ********/

#nav-container {
  display: flex;
  align-items: center;
}

.shape1 {
  width: 6.9rem;
  height: 4.59rem;
  background-image: url(assets/shapes/image_geometry_1.jpg);
}

.ic_icon {
  position: absolute;
  right: 2%;
}

/******* Headline *********/

.headline-section {
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.header-text {
  font-family: 'Playfair Display', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #1a2236;
  line-height: 100%;
}

.header-description {
  font-family: 'poppins', sans-serif;
  font-weight: 300;
}

.headline-button {
  background-color: #1a2236;
  padding: 0.7em;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  font-family: 'poppins', sans-serif;
  margin-bottom: 4rem;
}

.headline-button a {
  text-decoration: none;
  color: white;
}

.shape2 {
  background-image: url(assets/shapes/image_geometry_2.jpg);
  width: 100%;
  height: 10rem;
  margin-bottom: 4rem;
  position: absolute;
  top: 30rem;
}
